<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">

    <system.web>
      <authentication mode="Forms">
        <forms loginUrl="Logon.aspx" name=".ASPXFORMSAUTH"></forms>
      </authentication>
      <authorization>
        <deny users="?"/>
      </authorization>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
  
  <location path="ViewAccountStaff.aspx">
  <system.web>
    <authorization>
      <allow users="*" />
    </authorization>
  </system.web>
  </location>

  <location path="CreateDailyReservationSheet.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="ReservationStaff.aspx">
  <system.web>
    <authorization>
      <allow users="*" />
    </authorization>
  </system.web>
  </location>
  
    <location path="AddMemberApplication.aspx">
  <system.web>
    <authorization>
      <allow users="*" />
    </authorization>
  </system.web>
  </location>
  
  <location path="ReviewApplications.aspx">
  <system.web>
    <authorization>
      <allow users="*" />
    </authorization>
  </system.web>
  </location>
  
    
  <connectionStrings>
    <add name="ClubBAIST Database"
         connectionString="Integrated Security = true;
         Persist Security Info = False;
         Server = (localdb)\v11.0;
         Database = BAISTClubDatabase;"
          />
  </connectionStrings>

</configuration>